# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo

# Foundry build artifacts
/out/
/cache/
/lib/

# Foundry default example files
src/Counter.sol
script/
test/Counter.t.sol

# Misc
compile_out.txt
DEV_PLAN.md
